<!DOCTYPE html>
<html>
<head>
    <!-- Standard Meta -->
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Site Properties -->
    <link rel="shortcut icon" href="~/images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon-precomposed" href="~/images/apple-touch-icon.png">

    <!-- Google Fonts -->
    @*<link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=cyrillic" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i,900,900i&amp;subset=cyrillic" rel="stylesheet">*@
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/animate.min.css">
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/media-query.css" />

</head>
<body>
    <div class="container mb-lg-4 mb-5">
        <div class="impx-container">
            <!-- Header -->
            <header class="impx-header p-lg-4 px-3 pt-3 pb-0">
                <div class="row">
                    <div class="col-lg-3 col-12">
                        <a href="@Url.Action("Index","Home")"><img src="~/images/logo5.png" alt="Logo">&nbsp;&nbsp;&nbsp;สมาร์ทฟาร์ม.คอม</a>
                    </div>
                    <div class="col-lg-9 col-12">
                        <div class="impx-nav">
                            <nav class="navbar navbar-expand-lg navbar-light bg-white">
                                <!-- Nav Toggle -->
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-menu" aria-controls="nav-menu" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <!-- Nav Toggle End -->
                                <!-- Nav Items -->
                                <div class="collapse navbar-collapse" id="nav-menu">
                                    <ul class="navbar-nav mr-auto">
                                        <li class="nav-item"><a class="nav-link" href="@Url.Action("Index","Home")">หน้าแรก</a></li>
                                        <li class="nav-item"><a class="nav-link" href="@Url.Action("Index","About")">เกี่ยวกับเรา</a></li>
                                        <li class="nav-item"><a class="nav-link" href="@Url.Action("Index","Services")">บริการ</a></li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">รายการ</a>
                                            <!-- Dropdown Items -->
                                            <div class="dropdown-menu" aria-labelledby="dropdown02">
                                                <a class="dropdown-item" href="@Url.Action("OurTeam","List")">ทีมของเรา</a>
                                                <a class="dropdown-item" href="@Url.Action("PopularWord","List")">คำนิยมจากเจ้าของสวน</a>
                                                <a class="dropdown-item" href="@Url.Action("FAQ","List")">คำถามที่พบบ่อย</a>
                                            </div>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">สวนที่ใช้บริการ</a>
                                            <!-- Dropdown Items -->
                                            <div class="dropdown-menu" aria-labelledby="dropdown03">
                                                <a class="dropdown-item" href="@Url.Action("Garden1","Garden")">สวนน้องโอม</a>
                                                <a class="dropdown-item" href="@Url.Action("Garden2","Garden")">สวนป้านี</a>
                                                <a class="dropdown-item" href="@Url.Action("Garden3","Garden")">สวนลำยอง</a>
                                                <a class="dropdown-item" href="@Url.Action("Gardens","Garden")">สวนทั้งหมด...</a>
                                            </div>
                                        </li>
                                        <li class="nav-item"><a class="nav-link" href="@Url.Action("Index","Contact")">ติดต่อ</a></li>
                                    </ul>
                                </div>
                                <!-- Nav Items End -->
                            </nav>
                        </div>
                    </div>
                </div>
            </header>
            <!-- Header End -->

            @RenderBody()
        </div>
    </div>

    <!-- Footer -->
    <footer class="impx-footer mb-lg-4">
        <div class="container">

            <div class="footer-widgets p-lg-4">
                <div class="row">
                    <div class="col-lg col-sm-6">
                        <!-- Footer Widget 1 -->
                        <div class="footer-widget mb-lg-3 mb-sm-4 mb-3">
                            <h5 class="text-white">คำสำคัญ</h5>
                            <ul>
                                <li><a href="#">1.#</a></li>
                                <li><a href="#">2.#</a></li>
                                <li><a href="#">3.#</a></li>
                                <li><a href="#">4.#</a></li>
                                <li><a href="#">5.#</a></li>
                            </ul>
                        </div>
                        <!-- Footer Widget 1 End -->
                    </div>
                    <div class="col-lg col-sm-6">
                        <!-- Footer Widget 2 -->
                        <div class="footer-widget mb-lg-3 mb-sm-4 mb-3">
                            <h5 class="text-white">เว็บไซต์ที่เกี่ยวข้อง</h5>
                            <ul>
                                <li><a href="#">1.#</a></li>
                                <li><a href="#">2.#</a></li>
                                <li><a href="#">3.#</a></li>
                                <li><a href="#">4.#</a></li>
                                <li><a href="#">5.#</a></li>
                            </ul>
                        </div>
                        <!-- Footer Widget 2 End -->
                    </div>
                    <div class="col-lg col-sm-6">
                        <!-- Footer Widget 3 -->
                        <div class="footer-widget mb-lg-3 mb-sm-4 mb-3">
                            <h5 class="text-white">ติดต่อ</h5>
                            <ul>
                                <li>....</li>
                                <li>โทรศัพท์ : </li>
                                <li>อีเมล์ : <a href="mailto:"></a></li>
                            </ul>
                        </div>
                        <!-- Footer Widget 3 End -->
                    </div>
                    <div class="col-lg col-sm-6">
                        <!-- Footer Widget 4 -->
                        <div class="footer-widget mb-lg-3 mb-sm-4 mb-3">
                            <img src="~/images/logo-footer.png" alt="footer logo" class="mb-lg-3 mb-3">
                            <p class="mb-2">สมาร์ทฟาร์ม.คอม</p>
                            <ul class="social-profile">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                        <!-- Footer Widget 4 End -->
                    </div>
                </div>
            </div>

            <!-- Footer Bottom -->
            <div class="footer-bottom mx-lg-4 mb-lg-4 pt-lg-3 pb-lg-3 px-lg-3 p-2">
                <div class="row">
                    <div class="col-lg-8  col-sm-12 col-12 ">
                        <!-- Footer Nav -->
                        <ul class="footer-nav mb-lg-0 ml-2 mb-2">
                            <li><a href="@Url.Action("Index","Home")">หน้าแรก</a></li>
                            <li><a href="@Url.Action("Index","About")">เกี่ยวกับเรา</a></li>
                            <li><a href="@Url.Action("Index","Services")">บริการ</a></li>
                            <li><a href="@Url.Action("Index","Contact")">ติดต่อ</a></li>
                        </ul>
                        <!-- Footer Nav End -->
                    </div>
                    <div class="col-lg-4 col-sm-12 col-12 pb-1">
                        <!-- Site Copyright -->
                        <p class="site-copyright m-0 mr-2">&copy; 2021 <a href="https://www.facebook.com/compilehouse">พัฒนาโดย [ Compile House ]</a></p>
                        <!-- Site Copyright End -->
                    </div>
                </div>
            </div>
            <!-- Footer Bottom End -->

        </div>
    </footer>
    <!-- Footer End-->
    <!-- Javascript -->
    <script src="~/js/jquery.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/~/imagesloaded.pkgd.min.js"></script>
    <script src="~/js/isotope.pkgd.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.countTo.js"></script>
    <script src="~/js/template-config.js"></script>
    <!-- Javascript End -->

</body>
</html>
